---
---
@import "{{ site.theme }}";

.block-hero-2 {
    --bg: #fff;
    --text: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100%;
}
